.navBar{
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: dimgray;
    align-items: center;
}
.navBar .links{
    margin-left: auto;
    margin-right: 20px;
}
.navBar h1{
    margin-left: 20px;
}
.navBar a{
    margin-left: 16px;
    text-decoration: none;
    color: white;
}
.navBar a:hover{
    transition: all 1s;
    color: blue;
}
.navBar .logout-button{
    margin-left: 16px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(212, 106, 106);
    color: white;
}
.pfp-image{
    margin-left: 5px;
    width: 3%;
    margin-right: 20px;
    border-radius: 50%;
    
}
