.card-container{
    background-color: white;
    width: 55vh;
    height: 65vh;
    border: 2px solid black;
    border-radius: 20px;
}
.card-img-container{
    width: 60%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.card-img-container img{
    width: 60%;    
}
.card-title-container{
    width: 100%;
    height: auto;
    text-align: center;
}
.card-title-container h1{
    margin-left: 5px;
}
.card-text-container{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.card-text-container p{
    font-size: 17px;
}
.card-button-container{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    text-align: center;
}

.card-button-container button{
    width: 100px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(16, 102, 184);
    border: none;
    border-radius: 20px;
    color: aliceblue;
    cursor: pointer;
}